<header>

        <div class="container"></div>
        <div class="page-header text-left headerClass col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="col-lg-1 col-md-2 col-sm-1 col-xs-2 pull-left">
            <!--img src="logo/logo.jpg" alt="TAMU" class="logo"-->
          </div>
          <div class="col-lg-11 col-md-10 col-sm-11 col-xs-10 text-left paddingZero">
              Advanced Database Project
              <p class="subheader">ISTM 622-603 (Group 3-6)</p>
          </div>  
        </div>
      </div>
      
</header>